@charset "UTF-8";

body,html {
    background-image: linear-gradient(to bottom, #7297e7, #162144) ;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

main h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
    padding-top: 10px;
}

main p {
    padding: 10px;
    font-size: 0.9rem;
    text-align: justify;
    font-weight: lighter;
}

.login {
    width: 250px;
    height: 520px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0px 0px 10px #00000088;
    background: #ffffff;
    overflow: hidden;

    transition: width 0.3s, height 0.3s;
}

.image {
    display: block;
    background-image: url(../images/tela-login.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.form {
    display: block;
}


.container-infos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #7297e7;
    margin: 0 10px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #000000;
}

.container-email {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.container-password {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.container-infos #iemail {
    padding: 5px;
    width: 100%;
    height: 100%;
}

.container-infos #ipassword {
    padding: 5px;
    width: 100%;
    height: 100%;
}

.container-submit {
    margin: 5px 10px;
    border-radius: 5px;
    padding-bottom: 5px;
}

.container-submit input {
    padding: 7px;
    width: 100%;
    background-color: #7297e7;
    border-radius: 5px;   
    border: 1px solid #000000;
}

.container-submit input:hover {
    background-color: #2e468e;
    cursor: pointer;
}

.container-recovery {
    margin: 5px 10px;
    border-radius: 5px;
}

.container-recovery .recovery {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 5px;
    background-color: #7297e7;
    border-radius: 5px;   
    text-decoration: none;
    text-align: center;
    color: #000000;
    border: 1px solid #000000;
}

.container-recovery .recovery:hover {
    background-color: #2e468e;
    cursor: pointer;
}
